# Name: Sholl Analysis

# Description:
# Quantitative Sholl analysis of segmented arbors
# http://imagej.net/Sholl_Analysis
# https://github.com/tferr/ASA
# Author: Tiago Ferreira

Analyze>Sholl, "Sholl Analysis...", sholl.Sholl_Analysis("image")
Analyze>Sholl, "Sholl Analysis (Existing Profile)...", sholl.Sholl_Analysis("csv")
Analyze>Sholl, "Metrics & Options...", sholl.Options
File>Open Samples, "ddaC Neuron (84K)", sholl.Sholl_Utils("sample")
Help>About Plugins, "About Sholl Analysis...", sholl.Sholl_Utils("about")
