###
# #%L
# Sholl Analysis plugin for ImageJ.
# %%
# Copyright (C) 2005 - 2020 Tiago Ferreira.
# %%
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public
# License along with this program.  If not, see
# <http://www.gnu.org/licenses/gpl-3.0.html>.
# #L%
###
# Name: Sholl Analysis

# Description:
# Quantitative Sholl analysis of segmented arbors
# http://imagej.net/Sholl_Analysis
# https://github.com/tferr/ASA
# Author: Tiago Ferreira

#Analyze>Sholl>Deprecated, "Sholl Analysis...", sholl.Sholl_Analysis("image")
#Analyze>Sholl>Deprecated, "Sholl Analysis (Existing Profile)...", sholl.Sholl_Analysis("csv")
#Analyze>Sholl>Deprecated, "Metrics & Options...", sholl.Options
#File>Open Samples, "ddaC Neuron (84K)", sholl.Sholl_Utils("sample")
#Help>About Plugins, "About Sholl Analysis...", sholl.Sholl_Utils("about")
