# Name: Sholl Analysis

# Description:
# Quantitative Sholl analysis of segmented arbors
# http://imagej.net/Sholl_Analysis
# https://github.com/tferr/ASA
# Author: Tiago Ferreira
# Requires: ImageJ 1.49

Analyze>Sholl, "Sholl Analysis...", sholl.Sholl_Analysis
Analyze>Sholl, "Metrics & Options...", sholl.Options
File>Open Samples, "ddaC Neuron (84K)", sholl.Sholl_Utils("sample")
Help>About Plugins, "About Sholl Analysis...", sholl.Sholl_Utils("about")
